// footer start
.footer { background: #2E2E2E; color: #999;  font-size: 15px;
    .inner { display: flex; justify-content: space-between; padding: 80px 100px;
        .footer_left { display: flex; flex-direction: column; width: 70%;
            .footer_logo { width: 200px; height: 23px; background: url('../../common/img/logo_footer.svg') no-repeat center center / cover;}
            .footer_link { display: flex; margin-top: 20px; color: #ccc;
                li { position: relative; margin-right: 30px;
                    &:first-child::after { content: ""; position: absolute; width: 1.5px; height: 15px; background: #999; left: 65px; }
                    a { font-weight: 700; }
                }
            }
            .footer_bt { display: flex; flex-wrap: wrap; margin-top: 10px;
                li { margin-top: 7px; font-weight: 600; }
                li:not(:last-child) { margin-right: 20px; }
            }
        }

        .footer_right { display: flex; flex-direction: column; align-items: flex-end; width: 30%; color: #ccc;
            .footer_email { width:120%; font-size: 24px; font-weight: 700; text-align: right; }
            .family_site { display: flex; align-items: center; justify-content: center; position: relative; width: 230px; height: 35px; margin-top: 20px; padding: 3px 0; border-radius: 3px; background: #383838; box-sizing: unset; cursor: pointer;
                .family_box { display: flex; justify-content: space-between; width: 80%; font-size: 17px;
                    &::after { content: ''; position: absolute; top: 50%; transform: translateY(-45%); right: 15px; width: 25px; height: 25px; background: url('../../common/img/footer_arrow.png') no-repeat center center / 25px; filter: invert(0.5); }
                }

                ul { visibility: hidden; position: absolute; bottom: 38px; width: 100%; border-radius: 3px 3px 0 0; background: #eee; color: #999; font-size: 17px; z-index: 5; opacity: 0; transition: all .3s;
                    &.active { visibility: visible; opacity: 1; }

                    li { padding: 15px; text-indent: 10px;
                        &:hover { background: #aaa; }
                        &:hover a { color: #fff; }
                    }
                }
            }
        }
    }
}


@media all and (max-width:1024px){
    .footer .inner { //flex-direction: column;
        .footer_left { width: 100%;
            // .footer_bt {
            //     li {
            //         &:not(:last-child) { margin-right: 20px; }
            //     }
            // }    
        }
        .footer_right { width: 100%; align-items: flex-end;
            .footer_email { width: 100%; font-size: 20px; text-align: right; }
        }
    }
}

@media all and (max-width:768px){
    .footer .inner { flex-direction: column; padding: 80px 50px;
        .footer_right { margin-top: 30px; }
    }
}

@media all and (max-width:550px){
    .footer .inner { padding: 80px 30px; }
}

@media all and (max-width:480px){
    .footer .inner { padding: 80px 25px;
        .footer_left { align-items: center;
            .footer_logo { width: 170px; height: 19px; }
            .footer_link { margin-top: 35px;
                li { margin: 0 5px;
                    &:first-child::after { display: none; }
                }
            }
            .footer_bt { justify-content: center; text-align: center;
                li { width: 100%; margin-top: 7px;
                    &:not(:last-child) { margin-right: 0; }
                    &:last-child { font-size: 14px; }
                }
            }
        }
        .footer_right { align-items: center;
            .footer_email { font-size: 17px; text-align: center; }
            .family_site { width: 215px; height: 30px; margin-top: 15px;
                .family_box { font-size: 14px;
                    &::after { width: 15px; height: 15px; background-size: 15px; }
                }

                ul { font-size: 14px;
                    li { padding: 12px; }
                }
            }
        }
    }
}
// footer end