.sub_section2 {
        .sub_content {
            .sub_tab_list {
                .sub_content_wrap1 { position: relative; padding: 80px 20px 290px;
                        .sub_con_bg { position: absolute; left: 50%; top: 600px; width: 80%; padding: 50px 30px; transform: translateX(-50%); background: #fff; text-align: center; z-index: 1;
                            p { margin-top: 30px; color: #5a5a5a; }
                        }
                        .sub_con_img { position: relative; height: 600px; background: url('../../sub/img/sub_con_img01.jpg') no-repeat center / cover; }
                }

                .sub_content_wrap2 { display: flex; align-items: center; padding: 30px 20px 80px;
                    .sub_con_img { width: 45%; height: 500px; margin-left: 5%; background: url('../../sub/img/sub_con_img02.jpg') no-repeat center / cover; }
                    .sub_con_bg { width: 50%; padding: 20px;
                        p { margin-top: 30px; }
                    }
                    .sub_con_logo { display: flex; align-items: flex-end; justify-content: flex-end; margin-top: 30px;
                        div { width: 180px; height: 20px; background: url('../../common/img/logo_black.svg') no-repeat center / cover; }
                        span { margin-right: 20px; }
                    }
                }

                .sub_content_wrap3 { padding: 50px 20px 80px;
                    .sub_con_bg {
                        .since_wrap { display: flex; margin-top: 30px;
                            .history_wrap { display: flex; flex-direction: column; justify-content: center; width: 50%; margin-left: 5%;
                                .history { display: flex; align-items: center;
                                    &:not(:first-child) { margin-top: 50px; }
                                    .year { margin-right: 50px; font-size: 28px; font-weight: 600; }
                                    .year_content { 
                                        div { margin: 5px 0; font-size: 17px; font-weight: 500; line-height: 130%; }
                                    }
                                }
                            }
                            .history_img { width: 45%; height: 500px; background: url('../../sub/img/sub_con_img03.jpg') no-repeat center / cover; }
                        }
                    }
                }

                .sub_content_wrap4 { padding: 50px 20px 80px;
                    .sub_con_bg {
                        h1 { font-size: 32px; margin-bottom: 20px; }
                        #map { width: 100%; height: 400px; }
                        #map2 { width: 95%; height: 400px; }
                        #map3 { width: 95%; height: 400px; }

                        .map_wrap { display: flex;
                            .map_branch { width: 100%;
                                .map_content {
                                    .map_con_sub { margin-top: 10px;
                                        .map_con_wrap { display: flex; align-items: center; width: 95%; padding: 25px; border-bottom: 1px solid #e5e5e5; line-height: 130%;
                                            .map_con_title { width: 40%; font-size: 18px; font-weight: 600; }
                                            .map_con_content { font-size: 16px; font-weight: 400; }
                                        }
                                        .map_con_wrap_wid { width: 100%;
                                            .map_con_title { width: 25% }
                                        }
                                    }
                                }
                            }
                            .map_branch_mt { margin-top: 100px; }
                        }
                    }
                }
            }
    }
}




@media all and (max-width:1024px){
    .sub_section2 .sub_content .sub_tab_list {
        .sub_content_wrap .sub_con_bg h1 { font-size: 32px; }
        .sub_content_wrap .sub_con_bg p { font-size: 16px; }

        .sub_content_wrap1 { padding: 50px 20px 340px; }
        .sub_content_wrap3 .sub_con_bg .since_wrap .history_wrap .history {
            .year { font-size: 24px; margin-right: 24px; }
            .year_content div { font-size: 16px; }
        }
        .sub_content_wrap4 .sub_con_bg .map_wrap .map_branch .map_content .map_con_sub {
            .map_con_wrap .map_con_title { width: 120px; }
            .map_con_wrap .map_con_content { width: 220px; }
            .map_con_wrap_wid { 
                .map_con_title { width: 40%; }
                .map_con_content { width: auto; }
            }
        }
    }
}

@media all and (max-width:768px){
    .sub_section2 .sub_content .sub_tab_list {
        .sub_content_wrap .sub_con_bg h1 { font-size: 28px; }
        .sub_content_wrap .sub_con_bg p { font-size: 15px; }

        .sub_content_wrap1 { padding: 50px 20px 390px;
            .sub_con_img { height: 400px; }
            .sub_con_bg { top: 400px; }
        }

        .sub_content_wrap2 { flex-direction: column;
            .sub_con_bg { width: 100%; }
            .sub_con_img { width: 100%; margin-left: 0%; }
            .sub_con_logo {
                div { width: 160px; height: 18px; }
                span { font-size: 15px; }
            }
        }
        .sub_content_wrap3 .sub_con_bg .since_wrap { flex-direction: column;
            .history_wrap { width: 100%; max-width: 415px; margin: 50px auto 0;
                .history {
                    .year { margin-right: 90px; }
                }
            }
            .history_img { width: 100%; height: 400px; }
        }
        .sub_content_wrap4 .sub_con_bg {
            #map { height: 300px; }
            #map2 { width: 100%; height: 300px; }
            #map3 { width: 100%; height: 300px; }
            .map_wrap { flex-direction: column;
                .map_branch .map_content .map_con_sub .map_con_wrap { width: 100%;
                    .map_con_title { width: 40%; }
                    .map_con_content { width: auto; }
                }
            }
        }
    }
}

@media all and (max-width:550px){
    .sub_section2 .sub_content .sub_tab_list {
        .sub_content_wrap1 { padding: 50px 20px 360px;
            .sub_con_img { height: 300px; }
            .sub_con_bg { top: 270px; }
        }
        .sub_content_wrap3 .sub_con_bg .since_wrap .history_wrap { max-width: 370px;
            .history .year { margin-right: 45px; }
        }

        .sub_content_wrap4 .sub_con_bg .map_wrap .map_branch .map_content .map_con_sub .map_con_wrap {
            .map_con_title { width: 50%; }
            .map_con_content { width: 220px; }
        }
    }
}

@media all and (max-width:480px){
    .sub_section2 .sub_content .sub_tab_list {
        .sub_content_wrap .sub_con_bg h1 { font-size: 26px; }
        .sub_content_wrap .sub_con_bg p { font-size: 14px; }

        .sub_content_wrap1 { padding: 50px 20px 430px; }
        .sub_content_wrap2 .sub_con_logo span { font-size: 14px; }

        .sub_content_wrap3 .sub_con_bg .since_wrap {
            .history_wrap { max-width: 320px;
                .history {
                    .year { margin-right: 35px; font-size: 22px; }
                    .year_content div { font-size: 14px; }
                }
            }
            .history_img { height: 300px; }
        }
        .sub_content_wrap4 .sub_con_bg .map_wrap .map_branch .map_content .map_con_sub .map_con_wrap {
            .map_con_title { width: 60%; }
            .map_con_content { width: 130px; }
        }
    }
}