.sub_section_gray { background: #1b1b1b; }


.sub_section2 .sub_content .sub_tab_list {
    .sub_content_wrap8 {
        .sub_con_bg { display: flex; align-items: center; margin-bottom: 40px; padding: 50px; background: #ebebeb;
            h4 { padding-right: 50px; font-size: 22px; font-weight: 600; }
            p { color: #666; white-space: pre-line; }
        }
        .inquiry_form {
            table { width: 100%;
                tbody { border-top: 2px solid #1b1b1b;
                    tr { border-top: 1px solid #ddd;
                        td {
                            label { vertical-align: middle; font-size: 17px; font-weight: 500; }
                            input { width: 100%; padding: 5px; border: 1px solid #ddd; background: #F9F9F9; outline: none; font-size: 16px; }
                            textarea { width: 100%; padding: 5px; border: 1px solid #ddd; background: #F9F9F9; outline: none; font-size: 16px; }
                            #agree { width: auto; cursor: pointer; }
                            #phone1,#phone2, #phone3 { width: 60px; }
                            #submit { display: none; }
                            .submit_btn { display: block; width: 150px; height: 60px; margin: 50px auto 0; background: #333; color: #fff; line-height: 59px; text-align: center; cursor: pointer;
                                &:hover { background: #777; }
                            }
                        }
                        
                        .td_left { width: 300px; background: #f5f5f5; vertical-align: middle; text-align: center; }
                        .td_right {  padding: 25px; }
                        
                        .agree_left { padding: 30px 30px 10px 0; }
                        .agree_right { display: flex; justify-content: flex-end;
                            label { display: inline-block; width: auto; padding: 0 25px 0 1%; text-align: right; cursor: pointer; }
                        }
                    }

                    .form_text { border: none;
                        td { padding: 0px 25px 30px 0px;
                            textarea { height: 200px; padding: 20px 30px; line-height: 150%; }
                        }
                    }
                }
            }
        }
    }
}




@media all and (max-width:1024px){
    .sub_section2 .sub_content .sub_tab_list {
        .sub_content_wrap8 {
            .sub_con_bg h4 { font-size: 20px; }
            .inquiry_form table tbody tr {
                td label { font-size: 16px; }
                .td_left { width: 250px; }
            }
        }
    }
}

@media all and (max-width:768px){
    .sub_section2 .sub_content .sub_tab_list {
        .sub_content_wrap8 {
            .sub_con_bg { flex-direction: column;
                h4 { font-size: 19px; padding-bottom: 15px; padding-right: 0; }
                p { text-align: center; }
            }
            .inquiry_form table tbody {
                tr {
                    .agree_left { font-size: 15px; }
                    td label { font-size: 15px; }
                    .td_left { width: 200px; }
                }
                
                .form_text td textarea { font-size: 15px; }
            }
        }
    }
}

@media all and (max-width:550px){
    .sub_section2 .sub_content .sub_tab_list {
        .sub_content_wrap8 {
            .sub_con_bg h4 { font-size: 18px; }

            .inquiry_form table tbody {
                tr {
                    td .submit_btn { width: 100px; height: 40px; line-height: 40px; }
                    .agree_left { font-size: 14px; }
                    .td_left { width: 140px; }
                }
                .form_text td textarea { font-size: 14px; }
            }
        }
    }
}

@media all and (max-width:480px){
    .sub_section2 .sub_content .sub_tab_list {
        .sub_content_wrap8 {
            .sub_con_bg h4 { font-size: 17px; }

            .inquiry_form table tbody tr {
                td {
                    #phone1, #phone2, #phone3 { width: 27%; font-size: 14px; }
                }
                .td_right { padding: 15px; }
                .agree_left { padding: 30px 30px 10px 10px; line-height: 130%; text-indent: -7px; text-align: left; }
            }
        }
    }
}